<div class="container">
    <div class="images">
        <img class="img1" src="../../../assets/images/hombre.png" alt="Taki">
        <img class="img2" src="../../../assets/images/mujer.png" alt="Misutha">
    </div>
    <div class="clips">
        <button>Ringkasan</button>
        <button>Ulasan</button>
        <button>Cuplikan dan klip</button>
    </div>
    <div class="description">
        <p>Your Name, adalah sebuah film anime jepang produksi tahun 2016 bergenre fantasi yang ditulis dan disutradar oleh Makoto Shinkai dan diproduksi oleh CoMix Wave Films. Perancangan tokoh film ini dikerjakan oleh Masayoshi Tanaka, dan penciptaan musik dibuat oleh band rock asal jepang Radwimps</p>
    </div>
</div>
