@import '../../../styles.scss';
.container{
    width: 100%;
    margin-top: 3em;
    min-width: 300px;
    color: var(--color-primary-contrast);
    .photos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        .galery{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            gap: .5em;
            justify-content: center;
            .img{
                flex-grow: 0;
                flex-basis: 200px;
                aspect-ratio: 4/5;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                    display: block;
                }
            }
        }
        .more{
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 1em;
            button{
                background-color: transparent;
                border: none;
                outline: none;
                border: 2px solid var(--color-primary-contrast);
                color: var(--color-primary-contrast);
                width: 50px;
                aspect-ratio: 1/1;
                border-radius: 50%;
                font-size: 1.5em;
                margin: auto;
            }
        }
    }
    .story{
        margin-top: 1em;
        padding: 2em 3em;
        display: flex;
        flex-direction: column;
        gap: 1em;
        h3{
            font-size: clamp(2.5rem, 2.375rem + 1vw, 3.125rem);
        }
        .paragraphs{
            p{
                text-wrap: pretty;
                font-size: clamp(0.875rem, 0.825rem + 0.4vw, 1.125rem);
                margin-bottom: .5em;
            }
        }
        span{
            font-style: italic;
        }
    }
}
@include mediaQuerie(medium){
    .container{
        .photos{
            flex-direction: row;
            width: 100%;
            .galery{
                flex-wrap: nowrap;
                flex-basis: 0;
                flex-grow: 3;
                justify-content: space-between;
            }
            .more{
                flex-basis: 0;
                flex-grow: 1;
            }
        }
    }
}
@include mediaQuerie(large){
    .container{
        width: 80%;
        margin: 3em auto 0;
        max-width: 1024px;
        .photos{
            .galery{
                .img{
                    flex-basis: 250px;
                }
            }
        }
        .story{
            align-items: end;
            .paragraphs{
                text-align: end;
            }
        }
    }
}