<div class="container">
    <div class="photos">
        <div class="galery">
            <div class="img">
                <img src="../../../assets/images/your-name-1000x600.jpg" alt="">
            </div>
            <div class="img">
                <img src="../../../assets/images/243281425_1235438160289798_1136100847521451586_n.jpg" alt="">
            </div>
            <div class="img">
                <img src="../../../assets/images/d044a37e75d6329cea458167d378bd82.jpg" alt="">
            </div>
        </div>
        <div class="more">
            <button>></button>
            <span>Lihat semua</span>
        </div>
    </div>
    <div class="story">
        <h3>Moral Story</h3>
        <div class="paragraphs">
            <p>Ingatan manusia memanglah terbatas.</p>
            <p>Namun apa yang melekat dalam hati takkan pernah selesai dimakan waktu.</p>
            <p>Berapapun Iamanya, sejauh apapun jaraknya, dan serumit apapun alurnya.</p>
            <p>Ketulusan dalam hati akan selalu menemui tempat untuk pulang</p>
        </div>
        <span>Himawari, 2022</span>
    </div>
</div>
