<div class="container">
    <div class="photos">
        <div class="galery">
            <div class="img">
                <img src="https://global-media-repository.s3.us-east-2.amazonaws.com/clones/your-name/Your-Name-Scene-1.jpg" alt="Your Name. Encuentro">
            </div>
            <div class="img">
                <img src="https://global-media-repository.s3.us-east-2.amazonaws.com/clones/your-name/Your-Name-Scene-2.jpg" alt="Your Name. Escribe tu nombre">
            </div>
            <div class="img">
                <img src="https://global-media-repository.s3.us-east-2.amazonaws.com/clones/your-name/Your-Name-Scene-3.jpg" alt="Your Name. Reencuentro, abrazo">
            </div>
        </div>
        <div class="more">
            <button>></button>
            <span>Lihat semua</span>
        </div>
    </div>
    <div class="story">
        <h3>Moral Story</h3>
        <div class="paragraphs">
            <p>Ingatan manusia memanglah terbatas.</p>
            <p>Namun apa yang melekat dalam hati takkan pernah selesai dimakan waktu.</p>
            <p>Berapapun Iamanya, sejauh apapun jaraknya, dan serumit apapun alurnya.</p>
            <p>Ketulusan dalam hati akan selalu menemui tempat untuk pulang</p>
        </div>
        <span>Himawari, 2022</span>
    </div>
</div>
